html, body {
  min-height: 100vh;
}
header{
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;

}
body {
  background-color: #E4E5E7;
  padding-top: 30px;
  overflow: hidden;
}
.aside {
  height: 400px;
}
.main {
  height: 400px;
}
.d-flex {
  display: flex;
}
.task-name-info {
  font-weight: 400;
  padding-top: 5px;
}
.gray {
  color: #BDBDBD;
}
.task-info-status{
  display: none;
}
.task-info-status--done{
  display: inline;
  color: #CDCDCD;
}

.task-info-text--done {
  text-decoration: line-through;
  color: #CDCDCD;
  text-decoration: none;
}
.task-item__buttons {
  display: flex;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
}
.notify-holder {
  height: 60px;
  margin-bottom: 20px;
}
.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.empty-list__title {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 500;
}
.empty-list__icon {
  color: #42BE2A;
  font-size: 32px;
}
.btn-action {
    background-color: #e0e5ea;
    padding: 8px 10px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: opacity 0.2s ease-in;
    opacity: 0.5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-action:hover {
    background-color: #e0e5ea;
    opacity: 1;
}

.btn-action img {
  pointer-events: none;
}

.none {
  display: none !important;
}

.float-right {
  float: right;
}

.plan-done-tasks .title{
  text-align: center;
  padding: 20px;
  font-size: 20px;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.responsive-list{
  max-height: 280px;
  overflow-x: auto;
}

.plan-done-tasks{
  padding: 0;
}
.plan-done-tasks .title{
  background: rgba(0, 0, 0, 0.034);;
}

.plan-done-tasks ul#done-tasks-list li:first-child{
  border-top: none;
}

li#emptyList{
  padding-bottom: 0; padding-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1200px){
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .plan-done-tasks{
    margin: 15px;
    flex: unset !important;

    max-width: unset !important;
    width: 100% !important;
  }
}

.form-group .add-button{
  border-radius: 0px .25rem .25rem 0px;
  font-size: 17px;
  padding: 4px 8px;
}
.form-group input#taskInput{
  border-radius: .25rem 0px 0px .25rem;
}


.form-group .add-button span{
  display: none;
}
.add-btn-img{
  margin-left: unset;
  width: 24px;
}
.form-group .add-button{
  height: 38px; 
  min-width: 38px;
  padding: 0;
}
span.add-date-time {
  display: block;
  font-size: 11px;
  color: #545b62;
  font-weight: 400;
  text-align: center;
}

span.task-name-info {
  align-items: center;
  display: flex; 
}

span.add-date-time {
  border-right: 1px solid #49505761;
  padding-right: 10px;
  margin-right: 10px;
}

span.task-info-text {
  font-size: 12px;
  word-break: break-word;
  white-space: normal;
}

/* anims */

body {
	background: linear-gradient(45deg, rgb(2, 150, 142), rgb(21, 127, 146), rgb(25, 46, 168), rgba(81, 18, 199, 0.767));
	background-repeat: no-repeat;
	background-size: 400% 100%;
	backdrop-filter: brightness(40%);
	margin: 0;
	min-height: 100vh;
	animation: slide 20s infinite;
}

@keyframes slide {
	50% {
		background-position: 100%;
	}
}

.pyramid-loader {
  position: relative;
  width: 300px;
  height: 300px;
  display: block;
  transform-style: preserve-3d;
  transform: rotateX(-20deg);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}

.pyramid-loader .wrapper .side {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pyramid-loader .wrapper .side1 {
  transform: rotateZ(-30deg) rotateY(90deg);
  background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
}

.pyramid-loader .wrapper .side2 {
  transform: rotateZ(30deg) rotateY(90deg);
  background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
}

.pyramid-loader .wrapper .side3 {
  transform: rotateX(30deg);
  background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
}

.pyramid-loader .wrapper .side4 {
  transform: rotateX(-30deg);
  background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
}

.pyramid-loader .wrapper .shadow {
  width: 50px;
  height: 50px;
  background: #8B5AD5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(90deg) translateZ(-40px);
  filter: blur(12px);
}

.pyramid-loader{
  width: 100px !important;
  height: 100px !important;
}

/* notification-btns */

body {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

.buttons{
  margin: 50px;
}

.buttons button{
  background: #333;
  color: #fff;
  bottom: 0;
  outline: 0;
  width: 120px;
  height: 40px;
  cursor: pointer;
  margin: 5px;
}

#toastBox{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin: 15px;
}

.toast{
  width: 300px;
  height: 60px;
  background: white;
  font-weight: 500;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 20px #64646496;
  display: flex;
  align-items: center;
  cursor: pointer;
  animation: slidein 0.5s forwards;
}

@keyframes slidein {
  from {
    height: 0px;
    transform: translate(50px, 0px);
    opacity: 0;
  }
  to {
    height: 60px;
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
