html, body {
  min-height: 100vh;
}

body {
  background-color: #E4E5E7;
  padding-top: 30px;
}
.aside {
  height: 400px;
}
.main {
  height: 400px;
}
.d-flex {
  display: flex;
}
.task-name-info {
  font-weight: 400;
  padding-top: 5px;
}
.gray {
  color: #BDBDBD;
}
.task-info-status{
  display: none;
}
.task-info-status--done{
  display: inline;
  color: #CDCDCD;
}

.task-info-text--done {
  text-decoration: line-through;
  color: #CDCDCD;
  text-decoration: none;
}
.task-item__buttons {
  display: flex;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
}
.notify-holder {
  height: 60px;
  margin-bottom: 20px;
}
.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.empty-list__title {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 500;
}
.empty-list__icon {
  color: #42BE2A;
  font-size: 32px;
}
.btn-action {
    background-color: #e0e5ea;
    padding: 8px 10px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: opacity 0.2s ease-in;
    opacity: 0.5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-action:hover {
    background-color: #e0e5ea;
    opacity: 1;
}

.btn-action img {
  pointer-events: none;
}

.none {
  display: none !important;
}

.float-right {
  float: right;
}

.plan-done-tasks .title{
  text-align: center;
  padding: 20px;
  font-size: 20px;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.responsive-list{
  max-height: 280px;
  overflow-x: auto;
}

.plan-done-tasks{
  padding: 0;
}
.plan-done-tasks .title{
  background: rgba(0, 0, 0, 0.034);;
}

.plan-done-tasks ul#done-tasks-list li:first-child{
  border-top: none;
}

li#emptyList{
  padding-bottom: 0; padding-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1200px){
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .plan-done-tasks{
    margin: 15px;
    flex: unset !important;

    max-width: unset !important;
    width: 100% !important;
  }
}

.form-group .add-button{
  border-radius: 0px .25rem .25rem 0px;
  font-size: 17px;
  padding: 4px 8px;
}
.form-group input#taskInput{
  border-radius: .25rem 0px 0px .25rem;
}


.form-group .add-button span{
  display: none;
}
.add-btn-img{
  margin-left: unset;
  width: 24px;
}
.form-group .add-button{
  height: 38px; 
  min-width: 38px;
  padding: 0;
}
span.add-date-time {
  display: block;
  font-size: 11px;
  color: #545b62;
  font-weight: 400;
  text-align: center;
}

span.task-name-info {
  align-items: center;
  display: flex; 
}

span.add-date-time {
  border-right: 1px solid #49505761;
  padding-right: 10px;
  margin-right: 10px;
}

span.add-date-time {
    height: 100%;
    display: flex;
    align-items: center;
}
